<head>
	
	<title>Modelo de segregacion de Schelling</title>
	
	<!-- P5.js -->
	<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="sketch.js"></script>

     <!-- Semantic -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>

	<meta charset="utf-8">

	<style type="text/css">
		th {
			padding: 10px;
		}
	</style>

</head>

<body>
	<h1 style="text-align: center">Modelo de segregacion</h1>
	<table>
		<tr>
			<th id='canvasContainer' style="border: 1px solid black"></th>
			<th>
				<table>
					<tr>
						<tr>
							<th>
								<label for="agentAmount">Cantidad de agentes</label><br>
								<input type="range" name="agentAmount" id="agentAmount" min="2450" max="4800" value="3600">
							</th>
						</tr>
						<tr>
							<th>
								<label for="satisfactionTreshold">Umbral de satisfacción</label><br>
								<input type="range" name="satisfactionTreshold" id="satisfactionTreshold" min="0" max="100">
							</th>
						</tr><!-- 
						<tr>
							<th>
								<label for="agent_amount">Tamaño de celda:</label><br>
								<input type="range" name="cellSize" id="cellSize" min="1" max="5" step="1" value="1">
							</th>
						</tr> -->
					</tr>
					<tr>
						<th><button class="ui button" onclick="setModel()">Establecer parámetros</button></th>
					</tr>
					<tr>
						<th><button class="ui button" onclick="step()">Paso</button></th>
					</tr>
					<tr>
						<th>
							<div class="ui toggle checkbox">
								<input type="checkbox" name="public" id="simulationToggle" onclick="startSimulation()">
								<label>Comenzar simulación</label>
							</div>
						</th>
					</tr>
				</table>
				
			</th>
		</tr>
	</table>
<script type="text/javascript">

let cellSize = 10;
var canvas_width = 700;
var canvas_height = 700;
var grid_i = canvas_height / cellSize;
var grid_j = canvas_width / cellSize;
let grid = [];
let simulationOn = false;

function newGrid(){
	let grid = [];
	for (let i = 0; i < grid_i; i++) {
		let row = [];
		for (let j = 0; j < grid_j; j++) {
			row.push(0);
		}
		grid.push(row)
	}
	return grid;
}

function setModel(){
	grid = newGrid();
	let agentsAmount = parseInt(document.getElementById('agentAmount').value);
	treshold = parseInt(document.getElementById('satisfactionTreshold').value);
	for (let i=0; i<agentsAmount/2; i++){
		i_agent = generateAgent(1);
		grid[i_agent[0]][i_agent[1]] = i_agent[2];
	}
	for (let i=0; i<agentsAmount/2; i++){
		i_agent = generateAgent(2);
		grid[i_agent[0]][i_agent[1]] = i_agent[2];
	}
	draw();
}

function nextGrid(prevGrid){
	let proxGrid = prevGrid;
	for (let i=0; i<proxGrid.length; i++){
		for (let j=0; j<proxGrid[i].length; j++){
			if (proxGrid[i][j] != 0){
				let neighbourhood = getNeighbourhood(i, j);
				let similarityPercent = getSimilarityPercent(proxGrid[i][j], neighbourhood);
				if (similarityPercent < treshold){
					let newPosition = generateAgent(proxGrid[i][j]);
					proxGrid[i][j] = 0;
					proxGrid[newPosition[0]][newPosition[1]] = newPosition[2];
				}
			}
		}
	}
	return proxGrid;
}


function step(){
	grid = nextGrid(grid);
	draw();
}

function startSimulation(){
	simulationOn = !simulationOn;
	simulationToggled();
}

function simulationToggled(){
	if(simulationOn){
		step()
		setTimeout(simulationToggled, 1)
		// if (compareArrays(grid, nextGrid(grid))){
		// 	simulationOn = !simulationOn;
		// 	$('#simulationToggle').prop('checked', simulationOn);
		// }
	}
}

function compareArrays(arr1, arr2){
	let output = true;
	if (arr1.length != arr2.length){
		output = false;
	} else {
		for (let i=0; i<arr1.length; i++){
			for (let j=0; j<arr1[i].length; j++){
				if (arr1[i][j] != arr2[i][j]){
					output=false;
					break
				}
			}
		}
	}
	return output;
}

function getSimilarityPercent(agent, neighbourhood){
	let similars = 0;
	let neighbours = [];
	for (let i=0; i<neighbourhood.length; i++){
		let neighbour = neighbourhood[i];
		if (neighbour == 0) {

		} else if (neighbour == agent){
			similars += 1;
			neighbours.push(neighbour);
		} else {
			neighbours.push(neighbour);
		}
	}
	return Math.round((similars / neighbours.length) * 100);
}

function getNeighbourhood(i, j){
	neighbours = [];

	if (i > 0 && j > 0){
		neighbours.push(grid[i-1][j-1]);
	}
	if (i > 0){
		neighbours.push(grid[i-1][j]);
	}
	if (i > 0 && j < grid_j-1){
		neighbours.push(grid[i-1][j+1]);
	}
	if (j > 0){
		neighbours.push(grid[i][j-1]);
	}
	if (j < grid_j-1){
		neighbours.push(grid[i][j+1]);
	}
	if (i < grid_i-1 && j > 0){
		neighbours.push(grid[i+1][j-1]);
	}
	if (i < grid_i-1){
		neighbours.push(grid[i+1][j]);
	}
	if (i < grid_i-1 && j < grid_j-1){
		neighbours.push(grid[i+1][j+1]);
	}

	return neighbours;
}


function generateAgent(community){
	x_coord=Math.floor(Math.random() * grid_i)
	y_coord=Math.floor(Math.random() * grid_j)

	if (grid[x_coord][y_coord] != 0){
		generateAgent(community)
	}

	return [x_coord, y_coord, community]
}
	
function setup() {
  let canvas = createCanvas(canvas_width, canvas_height);
  canvas.parent('canvasContainer');
}

function draw() {	
	background('white');
	for (let i=0; i<grid.length; i++){
		for (let j=0; j<grid[i].length; j++){
			if (grid[i][j] == 2){
				fill('red');
			} else if (grid[i][j] == 1) {
				fill('green');
			} else {
				fill('white');
			}
			rect(i*cellSize, j*cellSize, 10, 10);
		}
	}
	noLoop();
}

</script>

</body>
